body{ 
    margin: 0;
    background-image: url(/assets/images/cassette-tape-mockup_1332-11107.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}
header{
    background-color: burlywood;
}
.flex-container{
    display: flex;
}
.header-left{
    flex: 50%;
}
.header-right{
    flex: 50%;
}
header ul li {
    display: inline;
    margin-left: 40px;
}
header ul li a{
    color: wheat;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}
header ul li a:hover{ 
    color:blueviolet;
}

.container2{
    background-color:rgb(27, 114, 228) ;
    display: flex;
}
.homie{
    flex:80%;
    word-spacing:55px;
    margin-top: 25px;
    text-align: center;
}
.log{
    flex:20%;
    text-align: center;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 900;
}
a:hover{
    color: rgb(25, 147, 218);
}
nav ul li{
    display: inline;
    margin-left: 80px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 15px;
    transition: 1s;

}
nav ul li a:hover{
    color:white;
    font-weight: bold;
}
li.dropdown{
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(12, 223, 223);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(5, 156, 106, 0.2);
    z-index: 1;
}
.dropdown-content a{
    color: rgb(17, 180, 112);
    padding: 15px 17px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown a:hover{
    background-color: rgb(12, 223, 93);
}
.dropdown:hover .dropdown-content{
    display: block;
}